button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    padding: 20px;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 15px;
    
}

button:hover {
    background-color: #00471b;
}

.boton-clic-sumar {
    background-color: #002ead;
}

.boton-clic-restar {
    background-color: #002ead;
}

.boton-reiniciar {
    background-color: #b778ee;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.agregarCarrito {
    background-color: #b778ee;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.vacio {
    background-color: #fff;
}
.vacio:hover {
    background-color: #fff;
}