.contador {
    background-color: rgb(201, 197, 197);
    width: 200px;
    min-width: 30px;
    height: 40px;
    font-size: 20px;
    padding: 25px;
    color: rgb(29, 28, 28);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid #fff;
    margin-bottom: 15px;
}